# vvvv
.vl

# plugin
target/
Cargo.lock

# editor
.vs
.vscode

# dotnet
*.deps.json
*.pdb
/src/lib
/src/obj

# VL Assembly
VL*.dll
!VL.OpenEXR.dll
!VL.OpenEXR.Native.dll

# stride assembly
Stride*.dll